# Node modules
node_modules/

# Build output
dist/
build/

# Dependency directories
.pnp*
*.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
.DS_Store
*.pem
*.key

# Vite cache
.vite/
.vite/deps/


/frontend/node_modules/